build
out
uploadtmp

*.ipr
*.iws
*.iml
*.idea
*.ids
.shelf
.gradle
/doc
api/doc
.DS_Store

node_modules
src/main/java/assets
web/node_modules

web/src/main/java/assets
web/src/main/resources/jasper/reports/*.jrprint
web/src/main/resources/jasper/reports/*.jasper
web/src/main/resources/jasper/reports/*.pdf
web/src/test/perf/reg/.idea
web/src/test/resources/jxls/each_if_output.xls
web/src/main/resources/jxls/qingdao-9th-high-school-timetable.xls
*.pyc

.vagrant
Vagrantfile

*.log
data/
.project