.btn-toolbar {
    padding: 0px 20px 10px 0px;
}

.asterisk:before {
    content: "*";
    color: #e00000;
    font-size: 20px;
    vertical-align: top;
    font-weight: 400;
    margin-right: 5px;
}

.parsley-errors-list {
    color: #B94A48;
}